<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>

<br>

<!-- main content -->
<div class="container">
    <div class="row">
        <div class="col-sm-8" style="background-color:#f8f8f8;">

            <form method="post">



            </form>

            <!-- table -->
            <p align="right">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Rut</th>
                    <th>Actividad Economica<</th>
                    <th>Rubro</th>
                    <th>Giro</th>
                </tr>
                </thead>
                <tbody>

                <tr >
                    <td>Ruta de la Araucanía Sociedad Concesionaria S.A.</td>
                    <td>96.869.650-5</td>
                    <td>630340: Servicios prestadops por concensionarios de carreteras</td>
                    <td>Industrial</td>
                    <td>Concesionaria</td>
                </tbody>
            </table>
            </p>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
</body>
</html>ocal